@model WebApplication4.Models.qiye

@{
    ViewBag.Title = "Details1";
}

<h2>查看详情</h2>

<div>

    <hr />
    <dl class="dl-horizontal" style="font-size:18px;padding:3px">
        <dt>
            程序员姓名
        </dt>

        <dd>
            1
        </dd>
        <dt>
            浏览数
        </dt>

        <dd>
            1
        </dd>
        <dt>
            浏览数
        </dt>

        <dd>
            1
        </dd>
        <dt>
            收藏数
        </dt>

        <dd>
            1
        </dd>
        <dt>
            申请数
        </dt>

        <dd>
            1
        </dd>
        <dt>
            程序员性别
        </dt>

        <dd>
            1
        </dd>
        <dt>
            程序员年龄
        </dt>

        <dd>
            1
        </dd>
        <dt>
            程序员电子信箱
        </dt>

        <dd>
            1
        </dd>
        <dt>
            程序员注册时间
        </dt>

        <dd>
            1
        </dd>
        <dt>
            程序员存储仓库数
            
        </dt>

        <dd>
            1&nbsp;&nbsp;&nbsp;&nbsp;@Html.ActionLink("查看仓库详情", "Details2", new { id = 1 })
        </dd>
        <dt>
            程序员项目板
        </dt>

        <dd>
            1
        </dd>
        <dt>
            程序员点赞数
        </dt>

        <dd>
            1
        </dd>
        <dt>
            关注程序员数
        </dt>

        <dd>
            1
        </dd>
        <dt>
            程序员关注数
        </dt>

        <dd>
            1
        </dd>
        <dt>
            程序员标签1
        </dt>

        <dd>
            1
        </dd>
        <dt>
            程序员标签2
        </dt>

        <dd>
            1
        </dd>
        <dt>
            程序员标签3
        </dt>

        <dd>
            1
        </dd>
        <dt>
            程序员标签4
        </dt>

        <dd>
            1
        </dd>
        <dt>
            程序员开发能力等级
        </dt>

        <dd>
            1
        </dd>
        <dt>
            程序员状态
        </dt>

        <dd>
            1
        </dd>
    </dl>
</div>
<div style="font-size:18px;padding:3px">
    <p>

        @Html.ActionLink("返回列表", "Index1")


    </p>
</div>

