@model WebApplication4.Models.qiye

@{
    ViewBag.Title = "Details";
}

<h2>查看详情</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal" style="font-size:18px;padding:3px">
        <dt>
            发布公司id
        </dt>

        <dd>
            1
        </dd>

        <dt>
            岗位类别
        </dt>

        <dd>
            招聘人才
        </dd>
        <dt>
            浏览数
        </dt>

        <dd>
            1
        </dd>
        <dt>
            收藏数
        </dt>

        <dd>
            bbb
        </dd>
        <dt>
            申请数
        </dt>

        <dd>
            ccc
        </dd>
        <dt>
            工作年限要求
        </dt>

        <dd>
            ddd
        </dd>
        <dt>
            工作时间
        </dt>

        <dd>
            @{
                string b = DateTime.Now.ToString("yyyy-MM-dd");
            }
            @b
        </dd>
        <dt>
            工资
        </dt>

        <dd>
            1
        </dd>

        <dt>
            学历要求
        </dt>

        <dd>
            1
        </dd>

        <dt>
            性别要求
        </dt>

        <dd>
            1
        </dd>
        <dt>
            年龄要求
        </dt>

        <dd>
            1
        </dd>
        <dt>
            工作地点
        </dt>

        <dd>
            1
        </dd>

        <dt>
            具体内容
        </dt>

        <dd>
            1
        </dd>
        <dt>
            招聘人数
        </dt>

        <dd>
            1
        </dd>

        <dt>
            专业要求
        </dt>

        <dd>
            1
        </dd>
        <dt>
            岗位标签1
        </dt>

        <dd>
            1
        </dd>

        <dt>
            岗位标签2
        </dt>

        <dd>
            1
        </dd>
        <dt>
            岗位标签3
        </dt>

        <dd>
            1
        </dd>

        <dt>
            岗位标签4
        </dt>

        <dd>
            1
        </dd>
    </dl>
</div>
<div style="font-size:18px;padding:3px">
    <p>
       
            @Html.ActionLink("返回列表", "Index")
       

    </p>
</div>
