@model WebApplication4.Models.Treatment

@{
    ViewBag.Title = "Delete";
}

<h2>删除</h2>

<h3>确定删除该条记录?</h3>
<div>


    @using (Html.BeginForm())
    {
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.refId)
        @Html.AntiForgeryToken()

        <div class="form-actions no-color" style="font-size:18px;padding:3px">
            <input type="submit" value="删除" class="btn btn-default" /> |
            @Html.ActionLink("返回病人信息列表", "Index")
        </div>
    }
</div>
