@{
    ViewBag.Title = "Home Page";
}

<div class="col-md-2"></div>
<div class="col-md-8" style="padding:0">
    <div class="jumbotron">
        <h1>扬州市第一人民医院上消化道科室</h1>
        <p></p>

    </div>

    <div class="row">
        <div class="col-sm-4">
            <h2>科室简介</h2>
            <p>
                消化内镜中心，目前中心分东西两部，占地1000平方多米，是扬州市目前规模最大的消化内镜中心，中心内部设置合理，以规范、人性化服务为基本要求，设有病人预约登记处、病人候诊区、操作室、器械供应室、内镜清洗消毒室、储镜室、会议室等。中心拥有日本Olympus全套先进消化内镜设备，现有六套主机，除普通胃镜、肠镜外，还有十二指肠镜、超细胃镜、前端带有附送水功能胃镜、双钳道胃肠镜、放大胃肠镜、可变硬度肠镜、最新一代超声内镜(Olyupus GF-UE260-ALS)，共约30条内镜。中心还配有德国ERBE APC治疗仪及西门子数字X光机，中心设备先进、实力雄厚。目前年诊治数目达1.5～2万人次，中心除常规开展普通胃肠镜检查及无痛苦胃肠镜诊治外，还开展各种内镜下治疗，包括粘膜染色、放大、内镜下止血术、异物取出术、息肉摘除、经皮内镜下胃造口术(PEG)、早期肿瘤切除术(EMR、ESD)、消化道良恶性狭窄扩张及支架置入术、胆总管结石取石术、胆管支架置入术、鼻胆管引流术、超声内镜诊断术等。无痛苦胃肠镜诊治及各种内镜下治疗是中心最大特色，处于本地区领先水平。
            </p>

        </div>
        <div class="col-sm-4">
            <h2>科室特色及优势</h2>
            <p>消化内科本着医、教、研全面发展的宗旨，多年来在完成临床工作的同时承担了南京医科大学、东南大学医学院、扬大医学院、二军大南京军医学院等多家医学院校的理论和临床教学任务。积极开展科研工作，目前已发表核心期刊论文近百篇，目前已有二篇论文发表在SCI收录杂志上，并取得省科技进步奖一项、市科技进步奖以及新技术引进奖10余项，合作承担国家自然科学基金项目二项，主持省级科研项目二项及多项市级课题，开展消化道肿瘤发病机制及防治、重症胰腺炎肠内营养等领域的相关研究。</p>

        </div>
        <div class="col-sm-4">
            <h2>医院地址以及电话</h2>
            <p>
                东区:扬州市泰州路45号
            </p>
            <p>西区:扬州市邗江中路368号</p>
            <p>东区 : 0514-82981199 </p>
            <p>西区 : 0514-80981199</p>
            @*<button type="button" class="btn btn-primary btn-lg" style="font-size: 16px" onclick="window.location.href='/Students/Create'">
                下载安卓手机app
            </button>*@

        </div>
    </div>

</div>
<div class="col-md-2"></div>
 <footer style=" position: absolute;bottom: 10%;left:20%">
    <p >&copy; @DateTime.Now.Year - 扬州大学信息工程学院</p>
</footer>