@model WebApplication4.Models.Login
@{
    ViewBag.Title = "Login";
}

<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>



<div style="height:100%;width:100%;background:url(http://58.192.132.31:9010/pic/bgpic/webbg.jpg) no-repeat center center; background-size:cover; background-attachment:fixed; background-color:#CCCCCC;">
    <div style="height:20%"></div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="col-md-4"></div>
        <div class="col-md-8" style="padding-left:8%;">
            <h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;登录</h1>
            <div>

                <i class="glyphicon glyphicon-user" style="font-size:23px"></i>
                <input type="text" name="Account" id="Account" style="border-radius:8px;width:40%;margin-top:50px;
                                      margin-bottom:15px;height:40px;" placeholder="账号" />
            </div>
            <div>

                <i class="glyphicon glyphicon-wrench" style="font-size:23px"></i>
                <input type="password" name="Password" id="Password" style="border-radius:8px;width:40%;
                                      margin-bottom:50px;height:40px" placeholder="密码" />
            </div>


            <div>
                <label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                <input id="fff" type="submit" value="登录" class="btn btn-primary btn-lg" style="font-size: 16px;width:40%" />

            </div>
        </div>
    }
  
</div>

<script type="text/javascript">

    $('#fff').on("click", function () {
       
        if ($("#Account").val() == "" || $("#Password").val() == "") {
            alert("账号密码不能为空");
            if (a == "1") {
                alert("1");
            }
            else if (a == "0") {
                alert("0");
            }
        }

    })






</script>