@model WebApplication4.Models.FollowUp

@{
    ViewBag.Title = "Details";
}

<h2>查看</h2>

<div>
    <h4>随访</h4>
    <hr />
    <dl class="dl-horizontal" style="font-size:18px;padding:3px">
        <dt>
            随访时间:
        </dt>

        <dd>
            @{ 
                string a=Model.date.ToString("yyyy-MM-dd"); 
            }
            @a
        </dd>

        <dt>
            随访内容:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.content)
        </dd>

    </dl>
</div>

<p style="font-size:18px;padding:3px">
    <a href="javascript:window.history.go(-1)">返回</a>
</p>

