@model WebApplication4.Models.Workflow

@{
    ViewBag.Title = "Details";
}

<h2>治疗方案集</h2>

<div>
    
    <hr />
    <h4>Medical Path</h4>
    <div class="col-md-10" style="padding-left:0">
        <img src="http://58.192.132.31:9010/pic/huatuo.jpg" width="600" height="400" id="image">
    </div>
    <div class="col-md-2">
        <div>&#12288</div>
    </div>

    <div class="col-md-10">
        <p style="font-size:18px;padding:3px">

            <a href="javascript:window.history.go(-1)">返回</a>
        </p>
    </div>
    <div class="col-md-2">
        <div>&#12288</div>
    </div>
</div>

   
    

